*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
.desktop
/Drizzle.Ported/Translated

# Temporary directory used when making release builds.
ReleaseBuild/
# Directory containing release builds.
Release/